node {
    size: 30px, 30px;
    shape: circle;
    fill-color: black;
    text-color: white;
    text-style: bold;
    text-offset: 1px, -2px;
    text-size: 13;
}

node.active {
    fill-color: purple;
}

edge {
    text-alignment: above;
    text-style: bold;
    text-size: 12;
    text-background-mode: plain;
    text-background-color: white;
    text-padding: 2px;
    arrow-size: 10px, 7px;
}

edge.active {
    fill-color: purple;
    text-color: purple;
}