node {
    size: 26px, 26px;
    shape: circle;
    fill-color: black;
    text-color: gray;
    text-style: bold;
    text-offset: 1px, -3px;
    text-size: 15;
}

node.active {
    fill-color: red;
}

edge {
    text-alignment: above;
    text-style: bold;
    text-size: 15;
    text-background-mode: plain;
    text-background-color: white;
    text-padding: 3px;
    arrow-size: 13px, 7px;
}

edge.active {
    fill-color: red;
    text-color: red;
}